* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6b13cf;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#in{
    height: 50px;
    padding: 1%;
    border-radius: 25px;
}

#plus{
    padding: 2% ;
    font-size: 40px;
    width: 50px;
    height: 50px;
}

.circle{
    border-radius: 50%;
    background-color: yellow;
    font-size: 40px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}

form button:hover{
    color:white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    min-width: 30%;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 50px;
    border-radius: 25px;
}

li {
    background-color: white;
    width:250px;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-top: 50px;
    border-radius: 25px;
}

li p{
    flex: 1;
}

.done{
    text-decoration: line-through;
    text-decoration-thickness: 2pt;
}