* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9806c0;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasks-Section,
.tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.text-Slot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.txt-Field {
  height: 50px;
  width: 350px;
  border: black;
  border-width: 20px;
  border-radius: 20px;
  margin-right: 20px;
  color: black;
  align-content: center;
  align-items: center;
  font-weight: 600;
  font-size: larger;
  padding-left: 10px;
}
.btn {
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  font-size: larger;
  background-color: #dd630b;
  color: white;
}
.small-txt-Field {
  height: 50px;
  width: 450px;
  border: black;
  border-width: 20px;
  border: none;
  text-align: center;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  border-radius: 20px 0 0 20px;
  background-color: white;
  color: black;
  align-content: center;
  align-items: center;
  font-weight: 800;
  font-size: xx-large;
}
.delete-Btn,
.done-Btn {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 157, 0);
  border: none;
}
.delete-Btn {
  background-color: rgba(117, 109, 109, 0.959);
  border-radius: 0 20px 20px 0;
}
.delete-Btn:hover {
  background-color: rgba(238, 13, 13, 0.959);
  color: black;
}
.done-Btn:hover {
  background-color: #46e403;
}
.btn:hover {
  background-color: #000000;
  color: white;
}
.tasks {
  display: flex;
  flex-direction: column;
}
.btn-Container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
